.aulogo {
    display: flex;
    position: relative;
    width: 265px;
    padding: 2px;
    padding-bottom: 5px;
}

.titletext {
    width: 100%;
    text-align: right;
}

#separator {
    border-top: 2px solid steelblue;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: steelblue;
    background-color: white;
    width: 100%;
    height: 2px;
    text-align: center;
    margin: 0 auto;
}