<div class='title'>
    <div class='aulogo'>
        <img src='../../assets/accolite_logo_transparent_70px.png'>
    </div>
    <div class='titletext'>
        Hello
    </div>
    <div class='separator'>
        <hr id='separator'>
    </div>
</div>