<mat-toolbar color="basic">
    <span>Dashboard</span>
</mat-toolbar>
<div class="menu">
    <a href="/add-grad">Add Grad</a><br/>
    <a href="/grads">Manage Grads</a><br/>
    <a href="/trends">View Trends</a><br/><br/>

    <a href="" (click)="signOut()">Sign Out</a>
</div>