<h2 mat-dialog-title>Confirm Action</h2>
<div mat-dialog-content>
    <p>Please review all the details before submitting.</p>
</div>
<mat-dialog-actions align="end">
    <button mat-buton mat-dialog-close>Cancel</button>
</mat-dialog-actions>