<mat-toolbar color="basic">
    <span style="padding-right: 10px;">
        <a mat-fab color="primary" aria-label="Back to Dashboard" href="/dashboard">
            <mat-icon>home</mat-icon>
        </a>
    </span>
    <span>Location-Wise Trends</span>
</mat-toolbar>
<div class="container">
  <div class="pie-container" style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [colors]="pieChartColors"
    [legend]="pieChartLegend">
  </canvas>
  </div>
</div>