.details-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.details {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    flex-basis: 25%;
    min-width: 25%;
/*    width: 80%;*/
    justify-self: center;
    text-align: left;
}

.details > .label {
    font-size: large;
    font-weight: normal;
}

.delete-button-container {
    text-align: center;
}