<mat-toolbar color="basic">
    <span style="padding-right:10px;">
        <a mat-fab color="primary" aria-label="Back to Dashboard" href="/dashboard">
            <mat-icon>home</mat-icon>
        </a>
    </span>
    <span>Complete Details for {{grad?.fname+" "+grad?.lname}}</span>
</mat-toolbar>
<div class="details-container">
    <div class="details">
        <p class="label">Name</p>
        {{grad?.fname+" "+grad?.mname+" "+grad?.lname}}
    </div>
    <div class="details">
        <p class="label">Gender</p>
        {{grad?.gender}}
    </div>
    <div class="details">
        <p class="label">E-Mail and Contact</p>
        {{grad?.email}} <br />
        {{grad?.contact}}
    </div>
    <div class="details">
        <p class="label">Address</p>
        {{grad?.addressLn1}} <br />
        {{grad?.town}} <br />
        {{grad?.state}} <br />
        {{grad?.pinCode}} <br />
    </div>
    <div class="details">
        <p class="label">Education</p>
        {{grad?.institute}} <br />
        {{grad?.degree}}
        {{grad?.branch}}
    </div>
    <div class="details">
        <p class="label">AU Joining Details</p>
        Joining Date: {{grad?.joinDate}} <br />
        Joining Location: {{grad?.joinLoc}}
    </div>
    <div class="details">
        <p class="label">Skills</p>
        <div *ngFor="let skill of grad?.skills">{{skill.name}}</div>
    </div>
    <div class="details">

    </div>
    <div class="details">

    </div>
    <div class="details">
        <a mat-stroked-button style="text-transform: uppercase;" color="primary" href="/edit-grad/{{grad?.id}}">Edit</a> &nbsp;&nbsp;
        <a mat-stroked-button style="text-transform: uppercase;" color="primary" href="/grad/{{grad?.id}}/history">History</a> &nbsp;&nbsp;
        <button mat-stroked-button style="text-transform: uppercase;" color="warn" (click)="this.deleteGrad(grad?.id)">Delete</button> &nbsp;&nbsp;
    </div>
</div>