<mat-toolbar color="warn">
    <span>Authorization Error</span>
</mat-toolbar>
<div class="no-auth-container">
    <div class="no-auth-message">
        It looks like you are not signed in, or your sign in session may have expired. <br/>
        To continue managing grads, you may want to <a href="/login">Log In again</a>.
    </div>
</div>