.no-auth-container {
    display: flexbox;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.no-auth-message {
    margin-left: 10%;
    margin-top: 2%;
    padding: 20px;
    width: 80%;
    text-align: left;
}