<mat-toolbar color="basic">
    <span style="padding-right:10px;">
        <a mat-fab color="primary" aria-label="Back to Dashboard" href="/dashboard">
            <mat-icon>home</mat-icon>
        </a>
    </span>
    <span>Graduate Details</span>
</mat-toolbar>
<div class="grad-table-container">
<table mat-table [dataSource]="grads">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.fname+" "+row.mname+" "+row.lname}}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email ID</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let row">{{row.contact}}</td>
    </ng-container>
    <ng-container matColumnDef="town">
        <th mat-header-cell *matHeaderCellDef>Town/City</th>
        <td mat-cell *matCellDef="let row">{{row.town}}</td>
    </ng-container>
    <ng-container matColumnDef="eduSummary">
        <th mat-header-cell *matHeaderCellDef>Education</th>
        <td mat-cell *matCellDef="let row">{{row.degree+", "+row.branch}}</td>
    </ng-container>
    <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"><a mat-stroked-button style="text-transform: uppercase;" color="primary" href="/grad/{{row.id}}">More</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay"></tr>
</table>
</div>