<body>
    <div class="container text-center">
        <h1>Sign In</h1>
        <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
        <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
    </div>
</body>