<mat-toolbar color="basic">
    <span style="padding-right: 10px;">
        <a mat-fab color="primary" aria-label="Back to Dashboard" href="/dashboard">
            <mat-icon>home</mat-icon>
        </a>
    </span>
    <span>Editing {{grad?.fname+" "+grad?.lname}}</span>
</mat-toolbar>
<div class="form-container">
    <form [formGroup]="addGradForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="" type="text" formControlName="fname" required>
                    </mat-form-field> 
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="" type="text" formControlName="mname" required>
                    </mat-form-field> 
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="" type="text" formControlName="lname" required/>
                    </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-radio-group formControlName="gender">
                        <mat-label>Gender: </mat-label><br />
                        <mat-radio-button value="male">Male</mat-radio-button><br />
                        <mat-radio-button value="female">Female</mat-radio-button><br />
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>E-Mail ID</mat-label>
                        <input matInput placeholder="" type="email" formControlName="email" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="" type="tel" formControlName="contact" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <textarea cols="100" matInput placeholder="" formControlName="addressLn1" required></textarea>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>City/Town</mat-label>
                        <input matInput placeholder="" type="text" formControlName="town" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput placeholder="" type="text" formControlName="state" requried>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>PIN Code</mat-label>
                        <input matInput placeholder="" type="text" formControlName="pinCode" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Institute</mat-label>
                        <input matInput placeholder="" type="text" formControlName="institute" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Degree</mat-label>
                        <input matInput placeholder="" type="text" formControlName="degree" requried>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Branch</mat-label>
                        <input matInput placeholder="" type="text" formControlName="branch" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Join Date</mat-label>
                        <input matInput placeholder="" type="date" formControlName="joinDate" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Joining Location</mat-label>
                        <input matInput placeholder="" type="text" formControlName="joinLoc" requried>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Skills</mat-label>
                        <mat-select formControlName="skills" multiple>
                            <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>