<mat-toolbar color="basic">
    <span style="padding-right:10px;">
        <a mat-fab color="primary" aria-label="Back to Dashboard" href="/dashboard">
            <mat-icon>home</mat-icon>
        </a>
    </span>
</mat-toolbar>

<table mat-table [dataSource]="grads">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>VID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="updateDate">
        <th mat-header-cell *matHeaderCellDef>Update Date</th>
        <td mat-cell *matCellDef="let row">{{row.updateDate}}</td>
    </ng-container>
    <ng-container matColumnDef="lastUpdateBy">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let row">{{row.lastUpdateBy}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.fname+" "+row.mname+" "+row.lname}}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email ID</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let row">{{row.contact}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let row">{{row.addressLn1}}</td>
    </ng-container>
    <ng-container matColumnDef="town">
        <th mat-header-cell *matHeaderCellDef>Town/City</th>
        <td mat-cell *matCellDef="let row">{{row.town}}</td>
    </ng-container>
    <ng-container matColumnDef="college">
        <th mat-header-cell *matHeaderCellDef>College</th>
        <td mat-cell *matCellDef="let row">{{row.institute}}</td>
    </ng-container>
    <ng-container matColumnDef="eduSummary">
        <th mat-header-cell *matHeaderCellDef>Education</th>
        <td mat-cell *matCellDef="let row">{{row.degree+", "+row.branch}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRow; columns: columnsToDisplay"></tr>
</table>